<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>NoteFormatter</name>
	<type>output</type>
	<author>GuanjieCao</author>
	<description>Format notes in the content !</description>
	<engine>python2.7</engine>
	<engine>python3.4</engine>
	<version>1.1.6</version>
	<autostart>true</autostart>
	<oslist>osx,win,unx</oslist>
</plugin>
